body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe9f2;
    font-family: "Pacifico", cursive;
    overflow: hidden;
}

.slide {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-size: 2.5rem;
    color: #5c373a;
    padding: 2rem;
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
}

.slide.active {
    opacity: 1;
}

.help {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    margin-bottom: 5px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}



/* Responsive Styles */
@media (max-width: 768px) {
    .slide {
        font-size: 1.5rem;
        padding: 1.5rem;
    }
}

@media (max-width: 480px) {
    .slide {
        font-size: 1.2rem;
        padding: 1rem;
    }
}

/* Style for PC Access Message */
#pc-warning {
    display: none;
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}


.img-ava {
    width: 350px;
    aspect-ratio: 1;
    object-fit: cover;
    --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
    -webkit-mask-box-image: var(--_m);
               mask-border: var(--_m);
    clip-path: polygon(-41% 0,50% 91%, 141% 0);
  }
  
  /* fallback until better support for mask-border */
  @supports not (-webkit-mask-box-image: var(--_m)) { 
    img {
     --_m:
       radial-gradient(at 70% 31%,#000 29%,#0000 30%),
       radial-gradient(at 30% 31%,#000 29%,#0000 30%),
       linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
     -webkit-mask: var(--_m);
             mask: var(--_m);
    }
  }